<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

    
	<!-- Definition for javaCollection -->
	<bean id="tables" class="resources.beanConfiguration">
		<!-- results in a setAddressList(java.util.List) call -->
		<property name="TableLists"  value="5">	
		</property>
		<property name="NumRetry" value="5"></property>
		<property name="ProcessType" value="csv"></property>
		<property name="Browser" value="chrome"></property>
	</bean>
</beans>	