<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
  
<suite name="MySuite">

<!-- <test name="Sanity test">
 <classes>
 <class name = "com.test.testng.annotationsTesting" />
 </classes>
 </test>-->
 
 
 <test name="priority test cases"> 
 
 <parameter name = "realizeadminusername" value = "sarahrealizeadmin"/>
 <parameter name = "realizeadminpassword" value = "password1"/>
  <groups>
     <run>
       <include name="selenium"/>
      </run>
  </groups>
   <classes>
      <class name = "com.test.testng.annotationsTesting" />
   </classes>
 </test>
 
</suite> 